<html lang="en">
<%- include("./partials/head.ejs") %>

<body>

  <div class="not-found content" style="min-height: 82%; ">
    <h1 class="items-center p-10 lg:px-20 text-xl lg:text-2xl font-semibold "><ul>
      <li>OOPS, page not found :)</li>
      <li class="pt-2" >Go back and please check the url.</li>
    </ul></h1>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>