
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.ytbutton:hover{
  color: white!important;
  background-color: red!important;
}
.blogbutton:hover{
  color: white;
  background-color: #000000;
}

/* Loader CSS */
#loading
{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #212121;
  z-index: 50;
}
.loader
{
  position: relative;
  width: 120px;
  height: 120px;
}
.loader span
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}
.loader span::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  transform: scale(0);
  animation: animate 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes animate
{
  0%
  {
    transform: scale(0);
  }
  10%
  {
    transform: scale(1.2);
  }
  80%,100%
  {
    transform: scale(0);
  }
}
.rocket
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: rotating 2s linear infinite;
  animation-delay: -1s;
}
@keyframes rotating
{
  0%
  {
    transform: rotate(10deg);
  }
  100%
  {
    transform: rotate(370deg);
  }
}
.rocket::before
{
  content: '\f135';
  font-family: fontAwesome;
  position: absolute;
  top: 80px;
  left: 85px;
  color: #fff;
  font-size: 60px;
  transform: rotate(180deg);
}

/*Startup section*/
.container .card
{
    position: relative;
    width: 300px;
    height: 250px;
}

.container .card .face
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.container .card .face.face1
{
    /*background: #968c8c;*/
    /*background: #333;*/
    background-image: linear-gradient(#fff, #333);
    /*background-image: linear-gradient(white,lightblue);*/
    display: flex;
    /*color: white !important;*/
    justify-content: center;
    align-items: center;
    /*border: solid 5px;*/
    border-color: black;
    z-index: 1;
    transform-origin: bottom;
}

.container .card .face.face1 img
{
    max-width: 100px;
    text-align: center;
}

.container .card .face.face1 h3
{
    margin: 10px 0 0;
    color: #000000;
    text-align: center;
    font-size: 1.5em;
}
.container .card .face.face1 a
{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    padding: 0px 10px;
    /*background: #333;*/
    text-decoration: none;
    color: #ffffff;
}

.container .card:hover .face.face1
{
    transform: translateY(-100%) rotateX(90deg);
    /* background: #ff0057; */
    background-image: linear-gradient(#fff, #333);
}

.container .card .face.face2
{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}
.container .card .face.face2 a
{
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

.container .card .face.face2 a:hover
{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #ff0057;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.container .card:hover .face.face2
{
    transform: translateY(0) rotateX(0deg);
}

@media (max-width: 992px)
{
    .container
    {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .container .card
    {
        width: 100%;
    }
}

@media (max-width: 768px)
{
    .container .card
    {
        max-width: 100%;
    }

}

/*Startup End*/

/* Landing section */
/*
body
{
    height: 100vh;
}*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.Landing-section
{
  max-width: 200vh; 
  /* width: 100%; */
  height: 100%;
  margin: 0;
  
}

#particles-js
{
	position: fixed;
    z-index: -5;
    height: 100%;
    width: 100%;
    background: #262626;
}
/* logo css */

*
/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
} */
/* body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow:hidden;
} */

.planet
{
  display: flex;
  flex-direction: column;
} 
.planet .container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column; 
}
.planetEarth
{
  position: relative;
  min-width: 100%; 
  height: 100vh; 
  justify-content: center;
  align-items: center;
  /*background: #182357;*/
}
.planetEarth .loaderlanding
{
  position: relative;
  width: auto;
  height: 400px;
  border-radius: 50%;
  animation: animate 4s linear infinite;
}
@keyframes animate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
.planetEarth .loaderlanding:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.4));
  /* background-size: 200px 360px; */
  background-repeat: no-repeat;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}
.planetEarth .loaderlanding:after
{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  /*transform: translateX(-50%);*/
  width: 10px;
  height: 10px;
  background: #00fff9;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 10px #00fff9,
              0 0 20px #00fff9,
              0 0 30px #00fff9,
              0 0 40px #00fff9,
              0 0 50px #00fff9,
              0 0 60px #00fff9,
              0 0 70px #00fff9,
              0 0 80px #00fff9,
              0 0 90px #00fff9,
              0 0 100px #00fff9,
}
.planetEarth .loaderlanding span
{
  position: absolute;;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #182357;
  border-radius: 50%;
}
.earth
{
  position: absolute;
  width: 340px;
  height: 340px;
  background: url(EDC_LOGO.png);
  background-color: white;
  border-radius: 50%;
  background-size: cover;
  box-shadow: inset 0 0 20px #03a9f4,
               0 0 120px #03a9f4;
  animation: animateEarth 20s linear infinite;
}
@keyframes animateEarth
{
  0%
  {
    background-position: 0;
  }
  100%
  {
    background-position: 162.5%;
  }
}

.ml10 {
  position: relative;
  font-weight: bolder;
  font-size: 350%;
  color: #ffffff;
  z-index: 10;
  margin-top: -10%;
  text-align: center;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
 /* padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;*/
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}



/* Our Initiaitves Section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #16384C;
}*/

.OI_section
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #16384C;
  width: 100%;
  font-family: 'Poppins',sans-serif;
}
.OIcontainer
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}
.OIcontainer .OIcard
{
  position: relative;
  max-width: 320px;
  height: 220px;
  /*background: #fff;*/
  background-image: linear-gradient(to bottom right, white, lightblue);
  border-radius: 6px;
  margin: 40px 40px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}
.OIcontainer .OIcard:hover
{
  height: 450px;
}
.OIcontainer .OIcard .OIimgBx
{
  position: relative;
  width: 180px;
  height: 180px;
  top: -60px;
  margin: auto;
  z-index: 1;
  /* background: #262626; */
  /* border-radius: 6px; */
  box-shadow: 0 7px 22px rgba(0,0,0,0.2);
}
.OIcontainer .OIcard .OIimgBx img
{
  max-width: 100%;
  width: 180px;
  height: 180px;
  border-radius: 4px;
}
.OIcontainer .OIcard .OITitle
{
  text-align: center;
  margin-top: -50px;
}

.OIcontainer .OIcard:hover .OITitle
{
  display: none;
}
.OIcontainer .OIcard .OIcontent
{
  font-size: 95%;
  position: relative;
  margin-top: -10px;
  padding: 5px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s ease-in-out;
}
.OIcontainer .OIcard:hover .OIcontent
{
  visibility: visible;
  opacity: 1;
  margin-top: -70px;
  transition-delay: 0.3s;
}
.OIcontainer .OIcard .OIcontentRect
{
  font-size: 95%;
  margin-top: -10px;
  /* padding: 5px 15px; */
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s ease-in-out;
}
.OIcontainer .OIcard:hover .OIcontentRect
{
  visibility: visible;
  opacity: 1;
  margin-top: -0px;
  transition-delay: 0.3s;
}

@media (max-width: 376px)
{/*
  .OIcontainer .OIcard .OIimgBx
  {
    left:15px;
  }*/
  .OIcontainer .OIcard
  {
    margin: 40px 10px;
  }
  .OIcontainer .OIcard:hover
  {
    height: 480px;
  }

}

@media (max-width: 355px)
{
  /*.OIcontainer .OIcard .OIimgBx
  {
    left:10px;
  }*/
  .OIcontainer .OIcard .OITitleSFC
  {
    font-size: 130%;
  }

  .OIcontainer .OIcard
  {
    margin: 40px 10px;
  }
  .OIcontainer .OIcard:hover
  {
    height: 480px;
  }
  /*.OIcontainer .OIcard .OIcontent
  {
    font-size: 110%;
  }*/

}
@media (max-width: 321px)
{
  /*.OIcontainer .OIcard .OIimgBx
  {
    left: 3px ;
  }*/
  .OIcontainer .OIcard .OITitleSFC
  {
    font-size: 130%;
  }

  .OIcontainer .OIcard
  {
    margin: 40px 10px;
  }
  .OIcontainer .OIcard:hover
  {
    height: 480px;
  }

}

@media (max-width: 769px)
{
  .Landing-section
  {
    max-width: 765px;
  }
  .ml10 {
    font-weight: bolder;
    font-size: 250%;
    margin-top: -10%;
  }
}

@media (max-width:450px)
{
  .Landing-section
  {
    max-width: 410px;
  }
    .planetEarth
    {
      min-width: 80%; 
      height: 85vh; 
      /*background: #182357;*/
    }
    .planetEarth .loaderlanding
    {
      width: 300px;
      height: 300px;
    }
    .earth
    {
      width: 240px;
      height: 240px;
      background: url(EDC_LOGO.png);
      background-color: white;
      border-radius: 50%;
      background-size: cover;
      box-shadow: inset 0 0 20px #03a9f4,
                  0 0 120px #03a9f4;
      animation: animateEarth 20s linear infinite;
    }
    @keyframes animateEarth
    {
      0%
      {
        background-position: 0;
      }
      100%
      {
        background-position: 162.5%;
      }
    }

    
.ml10{
  font-weight: bolder;
  font-size: 160%;
  margin-top: -25%;
  }
}

@media (max-width: 376px)
{
  .Landing-section
  {
    max-width: 366px;
  }
  .ml10 {
    font-weight: bolder;
    font-size: 145%;
    margin-top: -25%;
  }
}

@media (max-width: 321px)
{
  .Landing-section
  {
    max-width: 301px;
  }
  .ml10 {
    font-weight: bolder;
    font-size: 130%;
    margin-top: -25%;
  }
  
}

