@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap');

.About_us_Home{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/* min-height: 100vh; */
	font-family: 'Baloo Da 2', cursive;
	display: block;


}
.not_blurred{
	padding: 5vw;
	width: 100%;

}
.not_blurred h1{
	margin: 0;
	padding: 0;
	font-size: 6vw;

}

.not_blurred p{
	margin: 0;
	padding: 0;
	font-size: 3vw;
}

.Blurred_Text{

	margin: 0;
	padding: 0;
	display: block;
	justify-content: center;
	align-items: center;
	/* min-height: 100vh; */
	font-family: 'Baloo Da 2', cursive;
	color: transparent !important;
	text-shadow: 0 0 20px black;
}
.Blurred_Text{
	padding: 5vw;
	width: 100%;

}
.Blurred_Text h1{
	margin: 0;
	padding: 0;
	font-size: 6vw;

}

.Blurred_Text p{
	margin: 0;
	padding: 0;
	font-size: 3vw;
}


/*  */
/* 
button{

	align-items: center;
	margin-left:40%;
	z-index: 10;
	margin-top: -400px!important;
	
	}
	
	.btn{
	  width: 200px;
	  height: 60px;
	  background: none;
	  border: 4px solid;
	  color: #3498db;
	  font-weight: 700;
	  text-transform: uppercase;
	  cursor: pointer;
	  font-size: 16px;
	  position: relative;
	}
	
	.btn::before,.btn::after{
	  content: "";
	  position: absolute;
	  width: 14px;
	  height: 4px;
	  background: #353b48;
	  transform: skewX(50deg);
	  transition: .4s linear;
	}
	
	.btn::before{
	  top: -4px;
	  left: 10%;
	}
	
	.btn::after{
	  bottom: -4px;
	  right: 10%;
	}
	
	.btn:hover::before{
	  left: 80%;
	}
	
	.btn:hover::after{
	  right: 80%;
	}
	 */